/* Global */
html {
  color: #222;
  font-size: 18px;
  line-height: 1.4;
}
body{
  font-family: 'Roboto Slab', serif;
}
* { box-sizing: border-box; }
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/* Start Links */
.about a, .resources a, #join .item a,#footer a {
  color: #4285f4;
  text-decoration: none;
}
.about a:hover, .about a:hover, #join .item a:hover, #footer a:hover{
  color: #0000ff;
  text-decoration: none;  
}
/* End Links */
/* Global */


/* Start Navbar */
.navbar-custom {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}
/* change the link color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
    color: #000000;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    color: #000000;
}
/* change the color of active or hovered links */
.navbar-custom .navbar-brand:hover,
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #0000ff;
}
.navbar {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  margin-bottom: 35px;
}
#navbar .navbar-nav li a, #navbar .navbar-header a{
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  color: #000000;
}
#navbar .navbar-nav li a:hover, #navbar .navbar-header a:hover {
  color: #0000ff;
}
/**End Navbar**/


/**Start Home**/
#home .card{
  border: none;
}
.txtOne{
  font-family: 'Zilla Slab', serif;
  font-size: 38.5px;
  line-height: 40px;
}
.txtTwo, .txtThree{
  font-size: 18.5px;
}

#right img{
  display: block;
  width: 100%;
}
.column .txtThree a{
  text-decoration: none; 
  color: #0000ff;
}
.column .txtThree a:hover {
  color: #4285f4;
}
.txtOne{
  margin-top: 25px;
}
.txtOne, .txtTwo{
  margin-bottom: 65px;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/**End Home**/


/**Start Bootcamp**/
#info{
  padding-top: 35px;
}
#info p, #info a{
  font-weight: 400;
  text-align: center;
}
#info .first .card{
  border: none;
}
#info .first .card-text{
  color:#000000;
}
#info .card-text{
  color: #34a853;
}
#info .card-body a{
  color: #0000ff;
}
#info .card-body a:hover{
  color: #4285f4;
}
.container .row .col-md{
  margin-bottom: 50px;
  padding: 5px;
}
/*This is modifying the btn-primary colors*/
.btn-custom {
    color: #000000; 
    background-color: #fff;
}
/**End Bootcamp**/


/**Start Join**/
#join{
  padding-top: 1px;
}
/**End Join**/


/* Start Donate */
#donate p{
  font-weight: 400;
  text-align: center;
}
#donate a{
  text-decoration: none;
  color:#0000ff;
}
#donate a:hover{
  color:#4285f4;
}
#donate{
  padding-top: 25px;
  margin-bottom: 50px;
}
#donate .card{
  background-color: #f8f9fa;
  border: none;
}
/* End Donate */


/* Start Footer */
#footer{
  text-align: center;
  font-size: 15px;
  background-color:#f8f8f8; 
  border-top: 1px solid ;
  border-color: #e7e7e7;
  padding: 15px;
}
.heart{
  color: #FF0000;
}
/* End Footer */













/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * Remove text-shadow in selection highlight: *
 * Vendor-prefixed and regular ::selection selectors cannot be combined: *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

